// Please remove this line and rename this file to 'config.json'
{
  "debug": <Level 0-3>,
  "port": <Pssst port>,
  "db": {
    "source": <Redis port/socket>,
    "number": <Redis database nr>
  }
}
