// Please remove this line and rename this file to 'config.json'
{
  "debug": <level 0-3>,
  "port": <pssst port>,
  "db": {
    "source": <redis socket/port>,
    "number": <redis database nr>
  }
}
