{
  "debug": 0,       // Pssst debug level 0 (none) to 3 (full)
  "port": 62421,    // Pssst server port (default: 62421)
  "db": {
    "source": 6379, // Redis port or socket path (default: 6379)
    "number": 0     // Redis database number (default: 0)
  },
  "app": {
    "limit": null,  // Maximum bytes of stored user data
    "deny": null    // Regular expression of denied user names
  }
}
