// PLEASE REMOVE THIS COMMENT FIRST TO USE THE CONFIGURATION!
//
// Available config settings are (values below are the default):
//
// port       Pssst server port
// debug      Pssst debug level from 0 (none) to 3 (full)
// db.source  Redis database port or socket path
// db.number  Redis database number
// app.allow  Regular expression of allowed user names
// app.quota  Quota of maximum cached user data in bytes
//
// A value of null indicates no limitations.
{
  "port": 62421,
  "debug": 0,
  "db": {
    "source": 6379,
    "number": 0
  },
  "app": {
    "allow": null,
    "quota": null
  }
}
