@charset "utf-8";

/* pssst styles */

textarea {
  resize: none;
}

article.panel {
  border: 0;
  border-bottom: 1px solid #e7e7e7;
  cursor: pointer;
  margin-bottom: 0;
  text-align: justify;
  word-wrap: break-word;
}

.modal {
  top: 30%;
}

#content {
  padding-top: 52px;
}

/* bootstrap-flat overrides */

.btn,
.form-control {
  outline: none !important;
}

.btn-primary {
  background-color: #53a7ea !important;
}

.navbar-default,
.navbar-default .navbar-nav > li > a {
  background-color: #53a7ea !important;
  color: #fff !important;
}

.navbar-default .navbar-nav .open,
.navbar-default .navbar-nav .open > a {
  background-color: #fff !important;
  color: #333 !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  background-color: #53a7ea !important;
  color: #fff !important;
}

/* responsive overrides */

.navbar-default .navbar {
  border-radius: 0 !important;
}

.navbar-default .navbar-left {
  float: left !important;
}

.navbar-default .navbar-nav {
  float: left !important;
  margin: 0 !important;
}

.navbar-default .navbar-nav > li {
  float: left !important;
}

.navbar-default .navbar-nav > li > a {
  padding-bottom: 15px !important;
  padding-top: 15px !important;
}

.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #fff !important;
    border: 1px solid #ccc !important;
    float: left !important;
    position: absolute !important;
    width: inherit !important;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333 !important;
    padding: 3px 20px !important;
}
