@charset "utf-8";

html, body {
  height: 100%;
}

.modal {
  top: 30%;
}

.alert {
  border-radius: 0;
  display: none;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1050;
}

.panel {
  cursor: pointer;
  display: none;
  margin: 0 5px 5px 5px;
  text-align: justify;
  word-wrap: break-word;
}

#content {
  padding-top: 55px;
}

#username, #receiver {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#password, #message {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#message {
  resize: none;
}
